<ion-view view-title="FC-Connect">
    <ion-content class="padding">
       <div class="list card">
            <div class="item item-image">
                <img ng-src="img/banner-960x320.png" />    
            </div>
            <div class="item item-text-wrap padding">     
                On average, one child dies every 21 seconds from a vaccine-preventable disease, totaling more than 1.5 million children every
                year. In fact, 1 in 5 children does not have access to vaccine initiatives. WorldVax.org wants to reach that
                fifth child by helping medical teams track immunizations with FC-Connect.
                </div>
                <div>
                    <ul class="list">
                        <li class="item"><a href="http://worldvax.org">WorldVax.org</a></li>
                        <li class="item"><a href="http://github.com/worldvax">FC-Connect@github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="ion-search button button-positive button-fab button-fab-bottom-right" ng-click="goSearch()">
        </button>
    </ion-content>
</ion-view>