<ion-view>
    <ion-nav-title>
        <span ng-show="vm._id"></span>
        <span ng-hide="vm._id">FC-Connect</span>
    </ion-nav-title>
    <ion-content class="padding">
        <div ng-show="vm._id" class="list">
            <ion-item class="item item-divider item-icon-right padding">
                {{vm.identity.lastName}}, {{vm.identity.firstName}}
                <button ng-show="vm._id" class="button button-icon icon ion-edit button-positive button-clear" ng-click="startEdit()"></button>
            </ion-item>
            <div class="item">
                <img ng-src="{{vm.identity.picture}}" style="width: 64px; height: 64px" onerror="this.onerror=null;this.src='img/unknown-90x100.jpg';" ng-click="viewImage()">
                <div class="row">
                    <div class="col-25">{{txt("GOVERNMENT_ID")}}</div>
                    <div class="col">{{vm.identity.governmentId}}</div>
                </div>
                <div class="row">
                    <div class="col-25">{{txt("GENDER")}}</div>
                    <div class="col">{{vm.identity.gender}}</div>
                </div>
                <div class="row">
                    <div class="col-25">{{txt("BIRTH_DATE")}}</div>
                    <div class="col">{{fmt(vm.identity.dob, "DATE")}}</div>
                </div>
                <div class="row">
                    <div class="col-25">{{txt("STREET")}}</div>
                    <div class="col">{{vm.address.street}}</div>
                </div>
                <div class="row">
                    <div class="col-25">{{txt("CITY")}}</div>
                    <div class="col">{{vm.address.city}}</div>
                </div>
                <div class="row">
                    <div class="col-25">{{txt("STATE")}}</div>
                    <div class="col">{{vm.address.state}}</div>
                </div>
                <div class="row">
                    <div class="col-25">{{txt("POSTAL_CODE")}}</div>
                    <div class="col">{{vm.address.postalCode}}</div>
                </div>
                <div class="row">
                    <div class="col-25">{{txt("PHONE")}}</div>
                    <div class="col">
                        <div>
                            <div class="row" ng-repeat="(key, value) in vm.contact.phone">
                                <div class="col">{{txt(key)}}</div>
                                <div class="col">{{value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">{{txt("EMAIL")}}</div>
                    <div class="col">
                        <div>
                            <div class="row" ng-repeat="(key, value) in vm.contact.email">
                                <div class="col">{{txt(key)}}</div>
                                <div class="col">{{value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ion-item class="item item-divider">
                {{txt("MEDICAL_HISTORY")}}
            </ion-item>
            <ion-list>
                <ion-item ng-repeat="rec in vm.medical.history" class="card">
                    <div class="item item-divider">{{txt("CODE")}}: {{rec.code}} {{txt("CODE_SYS")}}: {{rec.codeSys}}</div>
                    <div class="item item-text-wrap">{{rec.text}}</div>
                </ion-item>
            </ion-list>
            <ion-item class="item item-divider item-icon-right">
                {{txt("IMMUNIZATIONS")}}
                <button ng-show="vm._id" class="button button-icon icon ion-plus-round button-positive button-clear padding" ng-click="startVaccination()"></button>
            </ion-item>
            <ion-list>
                <ion-item ng-repeat="rec in vm.medical.series">
                    <div class="item">{{txt("CVX_CODE")}}: {{rec.Cvx}} {{txt("NAME")}}: {{rec.VaccineName}}</div>
                    <div class="item" ng-show="rec.LotNumber"> {{txt("LOT_NUMBER")}}: {{rec.LotNumber}}</div>
                    <div class="item item-text-wrap">{{txt("DATE_ADMINISTERED")}}: {{fmt(rec.DateAdministered, "DATE")}}</div>
                </ion-item>
            </ion-list>
        </div>
        <div ng-hide="vm._id">
            {{txt("NO_PATIENT_RECORD_SELECTED")}}
        </div>
    </ion-content>
</ion-view>