<ion-view view-title="Search">
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="vm.query">
        </label>

        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="patient in vm.patients" type="item-text-wrap" href="#/tab/patient/{{patient.patientId}}">
                <img ng-src="photos/{{patient.patientId}}.jpg" onerror="this.onerror=null;this.src='photos/unknown-90x100.jpg';">
                <h2>{{patient.identity.lastName}}</h2>
                <p>{{patient.identity.firstName}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>